/.vscode
/node_modules
./dist
.next
.eslintrc.json
components.json
jest.config.js 
jest.setpu.js
next-env.d.ts
next.config.js
package.json
package-lock.json
README.md
tailwind.config.ts
tsconfig.json

*.env
.env
.env.*
.env*